body {
    font-family: verdana, arial, helvetica;
}

.auto-complete {
    font-size: 0.6em;
    position: absolute;
    width: 200px;
    border: 1px solid black;
    background-color: #f5deb3;
    list-style: none;
    margin: 0;
    padding: 0px;
    top: 49px;
    left: 10px;
}

.auto-complete li {
    padding: 5px;
    border-bottom: 1px solid black;
    width: 190px;
    margin: 0px;
    cursor: pointer;
}

.auto-complete li:hover {
    background-color: white;
}

.auto-complete li:last-child {
    border: none;
}

.hidden {
    display: none;
}